[user]
	email = soyuka@users.noreply.github.com
	name = soyuka
	signingkey = 62D05354C61458CB8378FD323F82299C64F51AD2
[core]
	excludesfile = /home/soyuka/.gitignore-global
[init]
	defaultBranch = main
