/*
!.config
.config/*
!.config/nvim
!.config/alacritty
!.config/borgmatic
!.config/clight.conf
!.config/mako
!.config/git/attributes
!.config/sway
!.config/swaylock
!.config/systemd
!.config/waybar
!.config/wofi
!.config/zsh
!.config/zathura/zathurarc
.config/zsh/antigen.zsh
.config/zsh/soyuka.zsh-theme.antigen-compat
!.gitconfig
!.github
!.local/bin/dnm
!.tmux.conf
!.vimrc
.vim/*
!.vim/ftplugin
!.vim/autoload
!.vim/colors
!.zprofile
!.zshrc
.config/systemd/user/borgmatic.service.d/override.conf
.secret_env
GEMINI.md
