[user]
	email = soyuka@users.noreply.github.com
	name = soyuka
	signingkey = 3F82299C64F51AD2
[core]
	excludesfile = /home/soyuka/.gitignore-global
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[committer]
	email = soyuka@users.noreply.github.com
[push]
	autoSetupRemote = true

